:host {
  --sidebar-bg: #fff;
  --border-color: #bdbdbd;
}

.container {
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: var(--sidebar-bg) !important;
  border-right: 1px solid var(--border-color) !important;
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  box-sizing: border-box;
  border-radius: 0 !important;
}

.active {
  color: red;
}

.menu {
  display: flex;
}
