<mat-sidenav-container class="container">
  <mat-sidenav #sidenav opened mode="side" class="sidebar">
    <div class="logo"></div>
    <mat-divider></mat-divider>
    <nav class="menu">
      <span>nav</span>
      <div [class.active]="router.url === '/'">
        <mat-icon>dashboard</mat-icon>
        <a routerLink="/board">Dashboard</a>
      </div>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <header>
        <button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ getTitulo() }}</span>
      </header>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
